[user]
	name = Jonah Ruiz
	email = jonah@pixelhipsters.com
[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/local/Cellar/macvim/7.3-66/MacVim.app/Contents/MacOS/Vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = true
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
  dump = cat-file -p
  plog = log --oneline --graph --decorate
  shipit = push heroku master
  empujate-este = push
  mergers = !git log --pretty=format:"%Cred%aN%Creset" --merges | sort | uniq -c | sort -rn
  hugs = !git log --pretty=format:"%Cblue%aN%Creset" --no-merges | sort | uniq -c | sort -rn
[mergetool]
	keepBackup = true
[push]
  default = simple
