[user]
	name = Jonah Ruiz
	email = jonah@pixelhipsters.com
[core]
	excludesfile = ~/.gitignore_global
	editor = vim2
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = true
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
  dump = cat-file -p
  plog = log --oneline --graph --decorate
  shipit = push heroku master
  empujate-este = push
[mergetool]
	keepBackup = true
